.about {
  text-align: center;

  .about-title {
    font-size: 3rem;
  }

  .about-subtitle {
    color: rgb(150, 150, 150);
  }

  .about-paragraph {
    padding: 1em;
    width: 800px;
    margin: 0 auto;
  }

  .code-icon {
    margin: 2em;
  }
}
